#one-night-risk {
	text-align: center;
	padding-bottom: 10px;
}
#u-n-owen {
	text-align: center;
	padding-bottom: 10px;
}
#str-business {
	text-align: center;
	padding-bottom: 10px;
}
#brainiac-chess {
	text-align: center;
	padding-bottom: 10px;
}
#stealth-game {
	text-align: center;
	padding-bottom: 10px;
}
#project-role {
	background-color: purple;
	width: 300px;
	padding:5px;
	color: white;
	text-align: center;
}

