@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#topbar {
    background-color: #6C140B;
    width: 100%;
    margin-left: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}

#content {
    top: 0;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    padding-left:5px;
    padding-bottom:25em;
    z-index: 0;
    overflow-x: hidden;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}

#choiceList {
    padding: 10px;
    padding-top:25px;
    list-style-type: none;
}

    #choiceList li {
        color: white;
        padding: 10px;
        float: left;
    }

        #choiceList li:hover {
            background-color: #4A0E0B;
        }

    #choiceList a {
        color: white;
    }

        #choiceList a:hover {
            color: white;
            TEXT-DECORATION: none;
            font-weight: none;
        }

.mybtn {
    border-color: gray;
    border-thickness: 5;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 768px) {
    #topbar{
        height:160px;
    }

    #content {
        padding-top: 180px;
    }

    .topbarToggle{
        margin-top:-160px;
    }

    .contentToggle{
        margin-top:-160px;
    }

    #choiceList {
        padding-left: 150px;
    }

        #choiceList li {
            width: 220px;
        }
    iframe {
        height: 500px;
        width: 1000px;
    }
}
@media (max-width: 600px) {
    #topbar {
        height: 380px;
    }

    #content {
        float: left;
        padding-top: 390px;
    }

    .topbarToggle {
        margin-top: -380px;
    }

    .contentToggle {
        margin-top: -380px;
    }

    #choiceList {
        padding-left:0px;
    }

        #choiceList li {
            width: 100%;
        }
    img{
        height:250px;
        width:350px;
    }
    iframe {
        height: 350px;
        width: 450px;
    }
}
