@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#topbar {
    //top: 0;
    background-color: #6C140B;
    height: 160px;
    width: 100%;
    margin-left: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}

#content {
    top: 0;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 180px;
    padding-bottom: 10px;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}

#choiceList {
    padding-top:10px;
    list-style-type: none;
    padding-left:30px;
}

    #choiceList li {
        //position: relative;
        //height: 100%;
        width: 250px;
        color: white;
        padding: 10px;
        padding-left: 10px;
        //transition: all 0.3s;
        float:left;
    }

        #choiceList li:hover {
            //position: relative;
            background-color: #4A0E0B;
            //text-align: right;
        }

    #choiceList a {
        color: white;
        //width: 100%;
        //height: 100%;
        //display: block;
    }

        #choiceList a:hover {
            color: white;
            TEXT-DECORATION: none;
            font-weight: none
        }

.mybtn {
    border-color: gray;
    border-thickness: 5;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-height: 768px) {
    #topbar {
        margin-bottom: -270px;
    }

    #content {
        padding-bottom: 10px;
    }
}
